.dark-mode .light-img {
  display: none;
}

.dark-mode .dark-img {
  display: block;
}

.dark-img {
  display: none;
}

.light-img {
  display: block;
}

html {
  /*font-size: 16px;*/
  scroll-behavior: smooth;
}

/* Color when right-click > copy link to highlighted text */

html:not(.dark) *::target-text {
  background-color: rgba(228, 107, 1, 0.2);
}

html.dark *::target-text {
  background-color: rgba(255, 255, 255, 0.3);
}


.nuxt-content {
  @apply break-words;
}

.nuxt-content .nuxt-content-highlight .filename {
  backdrop-filter: blur(12px);
  @apply absolute rounded px-2 italic mt-2 mr-2 py-2 top-0 right-0 font-mono tracking-tight leading-none
}


.nuxt-content h1,
.nuxt-content h2,
.nuxt-content h3,
.nuxt-content h4 {
  @apply cursor-pointer
}

.nuxt-content img {
  @apply border border-neutral-200 dark:border-neutral-800
}

@screen sm {

  .nuxt-content h1 > a:first-child::before,
  .nuxt-content h3 > a:first-child::before,

  .nuxt-content h2 > a:first-child::before {
    content: "#";
    @apply text-primary-500 dark:text-rose-500 font-normal text-xl leading-8 -ml-5 pr-2 absolute opacity-100 transition-opacity
  }

  .nuxt-content h4 > a:first-child::before {
    content: "#";
    @apply text-primary-500 dark:text-rose-500 font-normal text-lg leading-6 -ml-5 pr-2 absolute opacity-100 transition-opacity
  }
}


@screen md {
  .nuxt-content h1 > a:first-child::before,
  .nuxt-content h3 > a:first-child::before,
  .nuxt-content h4 > a:first-child::before,
  .nuxt-content h2 > a:first-child::before {
    @apply opacity-0
  }

  .nuxt-content h1:hover > a:first-child::before,
  .nuxt-content h3:hover > a:first-child::before,
  .nuxt-content h4:hover > a:first-child::before,
  .nuxt-content h2:hover > a:first-child::before {
    @apply opacity-100
  }
}

.nuxt-content p > img {
  @apply mx-auto
}


/* Fancy classess */


.fancy-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 border-2 border-gray-50 dark:bg-neutral-700 transition-colors
}

.fancy-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300 dark:bg-neutral-600
}

.fancy-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-neutral-800
}

body {
  @apply fancy-scrollbar
}


/* Code enhancements */
.copy-me {
  @apply cursor-pointer rounded p-1
}

.copy-me:hover {
  @apply bg-gray-200 dark:bg-neutral-800
}


/* Input stuff */

.tricks-input-outline {
  transition-property: outline-color;
  transition-duration: .37s;
  transition-timing-function: ease;
  outline-offset: 4px;
  outline-color: transparent;
  @apply outline-2
}
.tricks-input-outline:focus-within,
.tricks-input-outline:focus {
  @apply outline-blue-600 outline rounded dark:outline-rose-500
}
