.dark-mode .light-img {
  display: none;
}

.dark-mode .dark-img {
  display: block;
}

.dark-img {
  display: none;
}

.light-img {
  display: block;
}

html {
  /*font-size: 16px;*/
  scroll-behavior: smooth;
}


.nuxt-content {
  @apply break-words;
}

.nuxt-content .nuxt-content-highlight > .filename {
  backdrop-filter: blur(12px);
  @apply absolute rounded px-2 italic mt-2 mr-2 py-2 top-0 right-0 font-mono tracking-tight leading-none
}


.nuxt-content h1::before,
.nuxt-content h2::before,
.nuxt-content h3::before,
.nuxt-content h4::before {
  /* Fix anchor scrollTo */
  display: block;
  content: " ";
  margin-top: -85px;
  height: 85px;
  visibility: hidden;
  pointer-events: none;

}

.nuxt-content h1,
.nuxt-content h2,
.nuxt-content h3,
.nuxt-content h4 {
  @apply cursor-pointer
}

@screen sm {

  .nuxt-content h1 a::before,
  .nuxt-content h3 a::before,

  .nuxt-content h2 a::before {
    content: "#";
    @apply text-primary-500 font-normal text-xl leading-8 -ml-5 pr-2 absolute opacity-100 transition-opacity
  }

  .nuxt-content h4 a::before {
    content: "#";
    @apply text-primary-500 font-normal text-lg leading-6 -ml-5 pr-2 absolute opacity-100 transition-opacity
  }
}


@screen md {
  .nuxt-content h1 a::before,
  .nuxt-content h3 a::before,
  .nuxt-content h4 a::before,
  .nuxt-content h2 a::before {
    @apply opacity-0
  }

  .nuxt-content h1:hover a::before,
  .nuxt-content h3:hover a::before,
  .nuxt-content h4:hover a::before,
  .nuxt-content h2:hover a::before {
    @apply opacity-100
  }
}

.nuxt-content p > img {
  @apply mx-auto
}


/* Fancy classess */


.fancy-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 border-2 border-gray-50 dark:bg-gray-800 transition-colors
}
.fancy-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300 dark:bg-gray-700
}



.fancy-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent
}

html {
  @apply fancy-scrollbar
}



/* Code enhancements */
.copy-me {
  @apply cursor-pointer rounded p-1
}

.copy-me:hover {
  @apply bg-gray-200 dark:bg-gray-800
}

